body {
  height: 100%;
}

.imagem-de-fundo {
  background-image: url("./assets/imagem-de-fundo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.borda {
  border: solid 2px #f5ab3b;
}

.botao {
  border: none;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  background-color: #c0903e;
  color: white;
}

.botao:hover {
  background-color: #f5ab3b;
}

.botao-desativado {
  border: none;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  background-color: #6a5b42;
  color: white;
  cursor: not-allowed;
}

#resposta {
  background-color: white;
  padding: 6px;
  text-align: center;
  border-radius: 5px;
}

.imagem-moeda-selecionada {
  width: 100%;
  height: 100%;
  border: #f5ab3b solid 2px;
  border-radius: 5px;
}

.borda-no-topo {
  border-top: #f5ab3b solid 2px;
}

.imagem-background {
  background-image: url("./assets/padrao-fundo-rodape.png");
}

.imagem-biticoin {
  width: 70px;
}

.texto-justificado {
  text-align: justify;
}

.imagem-conversor-moeda {
  max-width: 200px;
}

.altura-caixa {
  height: 100%;
}

.formulario {
  width: 90%;
  padding: 20px 0px;
}
